.idea/
.gradle/
out/
build/
hs_err_pid*
classes/
*.swp
logos/
dump.rdb
*.iml
*.ipr
*.iws
entity.json
entity-adam1.json
entity-dev.json
ServerConfig.properties
.DS_Store
node_modules
src/main/resources/public/src/

*.class
